# Ignore all
*
# Unignore all sub dirs
!*/
!.gitignore
!LICENSE
!*.md
!*.go
!*.json
!*.yml
!*.txt
config.json
blacklist.json
from_campuses.txt
from_periods.txt
from_classes.txt
to_campuses.txt
to_periods.txt
to_classes.txt
!*.tmpl
# For HTML
!*.html
!*.js
!*.css
!*.jpg
!*.png
!*.gif
# Ignore blacklists
tools/gen-blacklist-json-from-txt/*/
!tools/gen-blacklist-json-from-txt/blacklist/
tools/gen-blacklist-json-from-txt/blacklist/*/
